<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> |
<%= link_to t('views.common.back'), books_path %>
<% if @book.comments.count > 0 %>
<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:body) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= Comment.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @book.comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.user.email %></td>
        <td><%= comment.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div>
<% if @book.comments.count.zero? %>
  <%= t('views.common.nothing_body', name: Comment.model_name.human) %>
<% end %>
</div>
<%= render 'comments/form', commentable: @book, comment: @book.comments.new %>
