<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:body) %>:</strong>
  <%= @report.body %>
</p>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>
<% if @report.comments.count > 0 %>
<table>
  <thead>
    <tr>
      <th>コメント内容</th>
      <th>投稿者</th>
    </tr>
  </thead>
  <tbody>
    <% @report.comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div>
<% if @report.comments.count.zero? %>
  <%= "コメントはありません" %>
<% end %>
</div>
<%= render 'comments/form', commentable: @report, comment: @report.comments.new %>
