<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to('日本語🇯🇵', :locale => 'ja') %> / 
        <%= link_to('English🇺🇸🇬🇧', :locale => 'en') %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
